#bulletin-board {
    height: 100%;
    background-image: url(../assets/bulletin-bg.jpeg);
    border: 10px solid black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1em;

    overflow-y: scroll;
}

.post-it {
    height: 12em;
    width: 13em;
    padding: 0.75em;
    color: #000;
    background: #ffc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;

    display: grid;
    gap: 0.5em;
    grid-template-rows: auto 1fr auto;
}

.post-it:hover, .post-it-detail:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.post-it h2, .post-it-detail h2 {
    text-transform: capitalize;
    font-weight: bold;
}

.post-it p, .post-it-detail p {
    font-size: 0.9em;
    overflow-y: auto;
}

.post-it .category {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.5em;
}

/* DETAIL PAGE */

.post-it-detail {
    height: 30em;
    width: 32.5em;
    padding: 2em;
    color: #000;
    background: #ffc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 0 auto;

    display: grid;
    gap: 0.5em;
    grid-template-rows: auto auto auto 1fr auto;
}

.post-it-detail button {
    padding: 10px;
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: .6em;
}

.post-it-detail h2, .post-it-detail p {
    margin: 4px 0;
    font-size: 1.3em;
}

.post-date {
    font-style: italic;
    color: gray;
}

.title-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
